## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
#alph_soup = application_df[['EIN', 'NAME']]
#dropnames_df = application_df.drop(['EIN', 'NAME'], axis=1)

#dropnames_df.head()

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'. - - optimized by dropping 3 additional columns
#  YOUR CODE GOES HERE
alph_soup = application_df[['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS', 'ORGANIZATION']]
dropnames_df = application_df.drop(['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS'], axis=1)

dropnames_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
# Determine the number of unique values in each column.
dropnames_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
app_type_counts = dropnames_df['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
# set cutoff to 200, create dictionary from value_counts result, and initialize list for app types to replace
cutoff = 200
app_type_count_dict = dict(app_type_counts)
application_types_to_replace = []

# iterate through items in dictionary, add app types with value < cutoff to list
for key, value in app_type_count_dict.items():
    if value < cutoff:
        application_types_to_replace.append(key)

# create copy of df for reduced app types
red_app_type_df = dropnames_df

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_counts = red_app_type_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C1570        1
C1728        1
C3700        1
C1732        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_counts.loc[class_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C0           3
C2710        3
C1246        2
C1256        2
C1267        2
C1234        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
# set cutoff to 1000, create dictionary from value_counts result, and initialize list for classifications to replace
cutoff = 1000
class_count_dict = dict(class_counts)
classifications_to_replace = []

# iterate through items in dictionary, add classifications with value < cutoff to list
for key, value in class_count_dict.items():
    if value < cutoff:
        classifications_to_replace.append(key)

# create copy of dataframe for reduced classifications
red_class_df = red_app_type_df

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
dummies_df = pd.get_dummies(red_class_df)
dummies_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = dummies_df.drop('IS_SUCCESSFUL', axis=1)
y = dummies_df['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_train_scaled.shape

(25724, 113)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
###  ------ added third hidden layer ----
#  build the model
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=160, activation="relu", input_dim=113))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=60, activation="relu"))
# third hidden layer -- NEW
nn_model.add(tf.keras.layers.Dense(units=30, activation="sigmoid"))
# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 160)               18240
_________________________________________________________________
dense_5 (Dense)              (None, 60)                9660
_________________________________________________________________
dense_6 (Dense)              (None, 30)                1830
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 31
=================================================================
Total params: 29,761
Trainable params: 29,761
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
y_train

10679    0
5052     1
9990     1
25173    1
11405    1
        ..
7813     0
32511    1
5192     0
12172    0
33003    0
Name: IS_SUCCESSFUL, Length: 25724, dtype: int64

#from tensorflow.keras.utils import to_categorical
#y_train = to_categorical(y_train, 10)
#y_test = to_categorical(y_test, 10)
#y_train.shape

In [17]:
# Train the model  
#  YOUR CODE GOES HERE
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
25724/25724 [==============================] - 1s 30us/sample - loss: 0.5653 - acc: 0.7219
Epoch 2/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5515 - acc: 0.72920s - loss: 0.5577
Epoch 3/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5487 - acc: 0.72980s - loss: 0.5402 - ac
Epoch 4/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5462 - acc: 0.7319
Epoch 5/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5449 - acc: 0.7337
Epoch 6/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5446 - acc: 0.7335
Epoch 7/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5430 - acc: 0.7339
Epoch 8/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5418 - acc: 0.7349
Epoch 9/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5412 - acc: 0.7345
Epoch 10/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5410 - acc: 0.7351
Epoch 11/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5402 - acc: 0.7365
Epoch 12/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5401 - acc: 0.7372
Epoch 13/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5393 - acc: 0.7356
Epoch 14/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5383 - acc: 0.7365
Epoch 15/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5386 - acc: 0.73660s - loss: 0.5378 - acc: 0.73
Epoch 16/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5377 - acc: 0.7372
Epoch 17/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5373 - acc: 0.7374
Epoch 18/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5369 - acc: 0.7373
Epoch 19/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5360 - acc: 0.7382
Epoch 20/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5363 - acc: 0.7382
Epoch 21/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5355 - acc: 0.7383
Epoch 22/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5353 - acc: 0.7391
Epoch 23/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5350 - acc: 0.7396
Epoch 24/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5342 - acc: 0.7401
Epoch 25/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5345 - acc: 0.7383
Epoch 26/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5345 - acc: 0.7392
Epoch 27/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5335 - acc: 0.7396
Epoch 28/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5331 - acc: 0.7395
Epoch 29/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5337 - acc: 0.73900s - loss: 0.5335 - a
Epoch 30/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5327 - acc: 0.7393
Epoch 31/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5324 - acc: 0.7401
Epoch 32/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5323 - acc: 0.7402
Epoch 33/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5321 - acc: 0.7400
Epoch 34/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5320 - acc: 0.7391
Epoch 35/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5311 - acc: 0.7408
Epoch 36/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5313 - acc: 0.7411
Epoch 37/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5308 - acc: 0.7399
Epoch 38/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5311 - acc: 0.7410
Epoch 39/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5305 - acc: 0.7404
Epoch 40/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5307 - acc: 0.7405
Epoch 41/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5299 - acc: 0.7410
Epoch 42/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5301 - acc: 0.7413
Epoch 43/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5301 - acc: 0.7409
Epoch 44/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5294 - acc: 0.7410
Epoch 45/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5292 - acc: 0.7412
Epoch 46/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5292 - acc: 0.7415
Epoch 47/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5284 - acc: 0.7413
Epoch 48/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5292 - acc: 0.7412
Epoch 49/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5295 - acc: 0.7418
Epoch 50/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5288 - acc: 0.7421
Epoch 51/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5281 - acc: 0.7414
Epoch 52/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5281 - acc: 0.74230s - loss: 0.5186 -
Epoch 53/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5279 - acc: 0.7421
Epoch 54/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5280 - acc: 0.7418
Epoch 55/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5283 - acc: 0.7413
Epoch 56/100
25724/25724 [==============================] - ETA: 0s - loss: 0.5280 - acc: 0.741 - 1s 24us/sample - loss: 0.5278 - acc: 0.7411
Epoch 57/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5272 - acc: 0.7424
Epoch 58/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5274 - acc: 0.7422
Epoch 59/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5271 - acc: 0.7427
Epoch 60/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5269 - acc: 0.7421
Epoch 61/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5269 - acc: 0.7425
Epoch 62/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5264 - acc: 0.7422
Epoch 63/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5270 - acc: 0.7419
Epoch 64/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5269 - acc: 0.7427
Epoch 65/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5269 - acc: 0.7429
Epoch 66/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5268 - acc: 0.7420
Epoch 67/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5267 - acc: 0.7420
Epoch 68/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5260 - acc: 0.7426
Epoch 69/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5262 - acc: 0.7435
Epoch 70/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5262 - acc: 0.7428
Epoch 71/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5259 - acc: 0.7434
Epoch 72/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5257 - acc: 0.7430
Epoch 73/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5262 - acc: 0.7433
Epoch 74/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5261 - acc: 0.7430
Epoch 75/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5258 - acc: 0.7426
Epoch 76/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5259 - acc: 0.7424
Epoch 77/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5259 - acc: 0.7425
Epoch 78/100

25724/25724 [==============================] - 1s 23us/sample - loss: 0.5257 - acc: 0.7427
Epoch 79/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5257 - acc: 0.7433
Epoch 80/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5254 - acc: 0.7431
Epoch 81/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5255 - acc: 0.7428
Epoch 82/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5254 - acc: 0.7430
Epoch 83/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5252 - acc: 0.7435
Epoch 84/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5253 - acc: 0.74310s - loss: 0.5258 - acc: 0.
Epoch 85/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5258 - acc: 0.7434
Epoch 86/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5253 - acc: 0.7432
Epoch 87/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5256 - acc: 0.7435
Epoch 88/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5255 - acc: 0.7438
Epoch 89/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5257 - acc: 0.7426
Epoch 90/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5253 - acc: 0.7434
Epoch 91/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5249 - acc: 0.74330s - loss: 0.5204 -
Epoch 92/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5248 - acc: 0.7434
Epoch 93/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5253 - acc: 0.7436
Epoch 94/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5259 - acc: 0.7425
Epoch 95/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5249 - acc: 0.7426
Epoch 96/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5249 - acc: 0.7428
Epoch 97/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5247 - acc: 0.7426
Epoch 98/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5255 - acc: 0.7434
Epoch 99/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5256 - acc: 0.7424
Epoch 100/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5248 - acc: 0.7437

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5645 - acc: 0.7318
Loss: 0.5645379817451054, Accuracy: 0.7317784428596497

In [19]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn_model.save('Results/AlphabetSoupCharity_optimization2.h5')